name: Build & publish proto-test-lib

permissions:
  contents: read
  packages: write

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'
          server-id: github
          server-username: nullnonamenull
          server-password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Deploy
        run: mvn -B clean deploy
        working-directory: ./proto-test-lib
